<launch>

    <!-- Launch the pgo node -->
    <!-- <param name="/data_path" type="string" value="/home/kin/bags/ntu_viral/A3/mcd_ntu_daytime_04/" />
    <param name="/debug_print" type="bool" value="false" /> -->
    <rosparam command="load" file="$(find oblam_pgo)/launch/pgo.yaml"/>
    <node pkg="oblam_pgo" type="oblam_pgo_node" name="oblam_pgo" required="false" output="screen"/>

    <!-- Launch rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true" output="screen" args="-d $(find oblam_pgo)/launch/pgo.rviz"/>    

</launch>